*{
    font-family: Roboto, sans-serif;
}

body{
    margin: 0;
}

header, footer{
    background: #1F2937;
    display: flex;
    flex-direction: column;
}

.information-bar{
    display: flex;
}
.section-2{
    background: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.section-2 > figure > figcaption{
    font-weight: bold;
    font-style:normal;
    font-size: 24px;
}

.call-to-action{
    background: #3882f6;
}

a{
    text-decoration: none;
    display:inline;
}

ul{
    list-style-type: none;
}

h1{
   font-size: 48px;
   font-weight: bolder;
   color: #F9FAF8; 
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    flex-basis: 0;
}

.header-description > p, a, footer{
    font-size: 18px;
    color: #E5E7EB;
}

.header-description{
    flex-wrap: wrap;
}

button{
   background: #3882f6; 
}

img{
    width: 200px;
    overflow: hidden;
    
}

.header-top, .header-bottom{
    display: flex;
    justify-content: space-between;
}

.header-bottom{
    justify-content: space-around;
}


li{
    display: inline;
    padding: 5px;
}

