*{
    font-family: Roboto, sans-serif;

}

header, footer{
    background: #1F2937;
    color: white;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

h1{
   font-size: 48px;
   font-weight: bolder;
   color: #F9FAF8; 
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-description > p, a{
    font-size: 18px;
    color: #E5E7EB;
}

button{
   background: #3882f6; 
}