*{
    font-family: Roboto, sans-serif;
}

body{
    margin: 20px;
}

header, footer{
    background: #1F2937;
    display: flex;
    flex-direction: column;
}

header{
    
}

.header-bottom{
    padding-bottom: 25px;
}

.information-bar{
    display: flex;
}
.section-1{
    text-align: center;

}
.section-2{
    background: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
 
}

.section-2 > figure > figcaption{
    font-weight: bold;
    font-style:normal;
    font-size: 24px;
    text-align:end;
}

.section-3{
    display: flex;
    justify-content: center;
    align-content: center;
    background: yellow;
}

.call-to-action{
    background: #3882f6;
    text-align:start;
    width: 50%;
    margin: 20px;
    color: #e5e7e8;
}

a{
    text-decoration: none;
    display:inline;
}

ul{
    list-style-type: none;
}

h1{
   font-size: 48px;
   font-weight: bolder;
   color: #F9FAF8; 
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    flex-basis: 0;
}

.header-description > p, a, footer{
    font-size: 18px;
    color: #E5E7EB;
}

.header-description{
    flex-wrap: wrap;
    width: 500px;
    padding-left: 50px;
    margin-left: 40px;
}

.image-container{
    align-content: center;
    padding-top: 25px;
    padding-right: 80px;
}

button{
   background: #3882f6; 
   color: #F9FAF8;
}

img{
    width: 200px;
    overflow: hidden;
    
}

.header-top, .header-bottom{
    display: flex;
    justify-content:space-around;
}


li{
    display: inline;
    padding: 5px;
}

